.intro{
  height: 40vh;
  background-color: #222;
}

.intro-hi{
  /* font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: Tahoma;
  color: #fff;
  font-size: 3.2vw;
  margin: 0px !important;
}

.intro-div{
  margin: 60px;
}

.name{
  display: inline !important;
}

.image_s{
  height: 3vw;
  width: 3vw;
}
